<div id="ascii" class="block center red">
<pre>
   <span class="cyan">*</span>██████ ██   ██ ███████ <span class="cyan flashing">*</span>██ ██████  ██████  <span class="cyan">*</span>█████   <span class="cyan">*</span>
   ██ <span class="cyan">*</span>    ██   ██ ██      ███      ██  <span class="cyan">*</span>   ██ ██ <span class="cyan flashing">*</span> ██   
<span class="cyan flashing">*</span>  ██      ███████ ███████  ██<span class="cyan flashing">*</span> █████   █████   █████ <span class="cyan flashing">*</span>  
   ██    <span class="cyan">*</span> ██   ██      ██<span class="cyan">*</span> ██      ██    <span class="cyan flashing">*</span> ██ ██   ██   
   <span class="cyan">*</span>██████ ██<span class="cyan flashing">*</span>  ██ ███████  ██ ██████  ██████ <span class="cyan">*</span> █████<span class="cyan">*</span>   </pre>
</div>