{{- define "main" -}}
<main>

{{ range (where .Site.Pages "Type" "page") }}
    {{ if (ne .Section "update") }}
        {{ range .Pages.ByParam "p" }}
            <div class="list yellow bluebg">
                <a href="{{ .RelPermalink }}"><span>{{ .Title }}</span></a><div class="separator"></div><span>{{ .Params.p }}</span>
            </div>
        {{- end -}}
    {{- end -}}
{{- end -}}

{{ partial "asciiflash.html" . }}

{{ partial "flashtext.html" (dict "text" "UPDATES")}}
{{ range (where .Site.Pages "Type" "page") }}
    {{ if (eq .Section "update") }}
        {{ range first .Site.Params.postLimit (.Pages.ByParam "p") }}
            <div class="list yellow bluebg">
                <a href="{{ .RelPermalink }}"><span>{{ .Title }}</span></a><div class="separator"></div><span>{{ .Params.p }}</span>
            </div>
        {{- end -}}
    {{- end -}}
{{- end -}}

{{ partial "flashtext.html" (dict "text" "ABOUT")}}
{{ .Content }}

</main>
{{- end }}